<a href="https://colab.research.google.com/github/Udhay2898/Weather/blob/Master/Weather.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [14]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
df = pd.read_csv('/content/drive/MyDrive/Data Sets/Seattle_Weather_1948-2017(1).csv')
df.head()

,DATE,YEAR,MONTH,DAY,SEASON,PRCP,TMAX,TMIN,CLIMATE,DIFF TEMP,AVE TEMP,PRCP TYPE,WEEK NO,WEEK END
0,01-01-1948,1948,January,Thursday,Winter,0.47,51,42,RAIN,9,46.5,Heavy,1,No
1,02-01-1948,1948,January,Friday,Winter,0.59,45,36,RAIN,9,40.5,Heavy,1,No
2,03-01-1948,1948,January,Saturday,Winter,0.42,45,35,RAIN,10,40.0,Heavy,1,Yes
3,04-01-1948,1948,January,Sunday,Winter,0.31,45,34,RAIN,11,39.5,Heavy,1,Yes
4,05-01-1948,1948,January,Monday,Winter,0.17,45,32,RAIN,13,38.5,Moderate,2,No

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25551 entries, 0 to 25550
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATE       25551 non-null  object
 1   YEAR       25551 non-null  int64
 2   MONTH      25551 non-null  object
 3   DAY        25551 non-null  object
 4   SEASON     25551 non-null  object
 5   PRCP       25548 non-null  float64
 6   TMAX       25551 non-null  int64
 7   TMIN       25551 non-null  int64
 8   CLIMATE    25548 non-null  object
 9   DIFF TEMP  25551 non-null  int64
 10  AVE TEMP   25551 non-null  float64
 11  PRCP TYPE  10903 non-null  object
 12  WEEK NO    25551 non-null  int64
 13  WEEK END   25551 non-null  object
dtypes: float64(2), int64(5), object(7)
memory usage: 2.7+ MB

In [36]:
# Convert DATE column to datetime
df['DATE'] = pd.to_datetime(df['DATE'], format='%d-%m-%Y')

In [37]:
df.dtypes

DATE         datetime64[ns]
YEAR                  int64
MONTH                object
DAY                  object
SEASON               object
PRCP                float64
TMAX                  int64
TMIN                  int64
CLIMATE              object
DIFF TEMP             int64
AVE TEMP            float64
PRCP TYPE            object
WEEK NO               int64
WEEK END             object
dtype: object

In [38]:
df.columns

Index(['DATE', 'YEAR', 'MONTH', 'DAY', 'SEASON', 'PRCP', 'TMAX', 'TMIN',
       'CLIMATE', 'DIFF TEMP', 'AVE TEMP', 'PRCP TYPE', 'WEEK NO', 'WEEK END'],
      dtype='object')

In [39]:
df.describe()

,DATE,YEAR,PRCP,TMAX,TMIN,DIFF TEMP,AVE TEMP,WEEK NO
count,25551,25551.000000,25548.000000,25551.000000,25551.000000,25551.000000,25551.000000,25551.000000
mean,1982-12-23 00:00:00,1982.476694,0.106222,59.544206,44.514226,15.029979,52.029216,27.015890
min,1948-01-01 00:00:00,1948.000000,0.000000,4.000000,0.000000,-35.000000,10.000000,1.000000
25%,1965-06-27 12:00:00,1965.000000,0.000000,50.000000,38.000000,10.000000,44.500000,14.000000
50%,1982-12-23 00:00:00,1982.000000,0.000000,58.000000,45.000000,14.000000,51.500000,27.000000
75%,2000-06-18 12:00:00,2000.000000,0.100000,69.000000,52.000000,19.000000,60.500000,40.000000
max,2017-12-14 00:00:00,2017.000000,5.020000,103.000000,71.000000,42.000000,87.000000,54.000000
std,NaN,20.193095,0.239031,12.772984,8.892836,6.834089,10.461340,15.059628

In [40]:
df.isnull().any()

DATE         False
YEAR         False
MONTH        False
DAY          False
SEASON       False
PRCP          True
TMAX         False
TMIN         False
CLIMATE       True
DIFF TEMP    False
AVE TEMP     False
PRCP TYPE     True
WEEK NO      False
WEEK END     False
dtype: bool

In [41]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
25546    False
25547    False
25548    False
25549    False
25550    False
Length: 25551, dtype: bool

In [42]:
df.duplicated() == 1

0        False
1        False
2        False
3        False
4        False
         ...
25546    False
25547    False
25548    False
25549    False
25550    False
Length: 25551, dtype: bool

In [43]:
df.duplicated().sum()

0

In [44]:
df.nunique()

DATE         25551
YEAR            70
MONTH           12
DAY              7
SEASON           6
PRCP           207
TMAX            87
TMIN            68
CLIMATE          2
DIFF TEMP       42
AVE TEMP       143
PRCP TYPE        3
WEEK NO         54
WEEK END         2
dtype: int64

In [45]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"{column}:\n {unique_values}\n")

DATE:
 <DatetimeArray>
['1948-01-01 00:00:00', '1948-01-02 00:00:00', '1948-01-03 00:00:00',
 '1948-01-04 00:00:00', '1948-01-05 00:00:00', '1948-01-06 00:00:00',
 '1948-01-07 00:00:00', '1948-01-08 00:00:00', '1948-01-09 00:00:00',
 '1948-01-10 00:00:00',
 ...
 '2017-12-05 00:00:00', '2017-12-06 00:00:00', '2017-12-07 00:00:00',
 '2017-12-08 00:00:00', '2017-12-09 00:00:00', '2017-12-10 00:00:00',
 '2017-12-11 00:00:00', '2017-12-12 00:00:00', '2017-12-13 00:00:00',
 '2017-12-14 00:00:00']
Length: 25551, dtype: datetime64[ns]

YEAR:
 [1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961
 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975
 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989
 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017]

MONTH:
 ['January' 'February' 'March' 'April' 'May' 'June' 'July' 'August'
 'September' 'October' 'November' 'December']

DAY:
 ['Thursday' 'Friday' 'Saturday' 'Sunday' 'Monday' 'Tuesday' 'Wednesday']

SEASON:
 ['Winter' 'Spring' 'Summer' 'Monsoon' 'Autumn' 'Pre-winter']

PRCP:
 [0.47 0.59 0.42 0.31 0.17 0.44 0.41 0.04 0.12 0.74 0.01 0.   0.21 0.1
 0.22 0.03 0.2  0.14 0.06 0.56 0.5  0.35 0.84 0.13 0.46 0.11 0.05 0.98
 0.09 0.19 0.16 0.08 0.02 2.04 0.4  0.33 0.34 0.54 0.18 0.37 0.24 0.7
 0.27 0.26 0.39 0.29 0.83 0.88 0.3  0.92 0.76 0.36 0.07 1.51 0.66 0.15
 0.87 0.43 0.67 0.49 0.78 0.25 0.73 0.52 0.96 1.83 0.32 0.97 0.6  0.28
 0.65 0.23 0.81 1.17 0.69 1.38 1.14 1.27 0.95 1.07 1.46 1.03 0.79 0.45
 0.8  2.08 0.85 1.05 0.61 0.75 1.2  0.99 0.63 0.53 0.64 1.13 0.62 0.68
 0.51 0.38 0.82 1.45 2.98 0.93 0.77 0.57 1.   0.48 0.58 1.36 0.71 1.26
 1.29 1.65 0.72 1.19 1.64 1.23 0.55 1.15 2.58 1.01 2.18 1.28 1.12 1.32
 1.93 1.22 0.89 1.78 0.86 1.11 0.94 1.08 1.06 1.04 3.41 1.34 1.6  0.91
 1.54 1.24 1.16 1.55 1.18 1.21 1.37 1.31 0.9  1.02 1.5  1.85 1.68 1.7
 1.56 2.26 1.61 1.63 1.75 1.67 1.39 1.66 2.23 2.7  1.48 2.14 1.3  1.76
 1.49 1.52 2.72 1.33 1.09 1.4  1.53 1.35 1.1  2.13 2.49 1.47 1.41 2.83
 2.95 2.93 1.58 2.64 1.81 3.06 1.71 1.92 1.86 1.42  nan 3.04 2.61 5.02
 2.06 2.39 1.91 3.29 1.77 3.77 2.15 2.29 2.19 1.84 2.2  1.74]

TMAX:
 [ 51  45  48  50  43  42  41  38  34  35  33  36  47  46  53  39  44  52
  57  49  60  54  56  70  64  55  59  63  65  62  58  61  66  73  80  69
  77  71  76  67  75  82  87  81  68  72  74  79  83  78  88  37  40  30
  32  29  31  84  86  85  92  24  26  28  19  16  21  22  25  20  27  90
  95  96   4  89  23  94  91  93  97  98  99  17  18 100 103]

TMIN:
 [42 36 35 34 32 39 40 31 26 29 28 27 44 43 30 33 25 20 23 37 46 38 41 47
 45 48 50 51 49 52 53 59 60 57 55 56 54 24 19 16 22 21 17 18 13 12 62 58
 61  6 14 11  8 15  9 10  7  0  1  2 63 64 65 66 69 68 67 71]

CLIMATE:
 ['RAIN' 'CLEAR' nan]

DIFF TEMP:
 [  9  10  11  13  19  15  16  12   3   6   5   7   4  20  28   8  17  23
  18  24  26  14  32  25  27  21  22  29  31  30  35  36  38  33  34   2
  39  42  37  40 -35   1]

AVE TEMP:
 [46.5 40.5 40.  39.5 38.5 43.5 45.  41.5 37.  33.5 32.  32.5 31.  30.5
 45.5 38.  43.  39.  34.5 35.  31.5 33.  41.  42.5 44.5 51.5 37.5 44.
 48.5 46.  54.  49.  52.5 56.  49.5 50.  42.  48.  47.5 53.5 50.5 58.5
 54.5 56.5 58.  65.5 62.  55.  53.  61.5 62.5 59.5 67.5 73.  73.5 69.
 59.  61.  60.5 60.  55.5 57.  69.5 63.5 57.5 64.5 64.  63.  66.5 68.5
 66.  72.5 65.  67.  68.  47.  52.  36.5 36.  30.  26.  27.5 28.5 24.
 22.5 21.  27.  29.5 25.  23.  28.  29.  34.  26.5 35.5 51.  71.  77.
 70.5 23.5 15.  16.  12.  18.  17.5 19.5 17.  15.5 14.5 10.  14.  19.
 21.5 70.  22.  72.  76.5 71.5 20.5 74.  25.5 20.  79.5 18.5 78.5 75.
 75.5 81.  74.5 76.  82.  79.  78.  81.5 12.5 80.  80.5 83.5 82.5 77.5
 24.5 83.  87. ]

PRCP TYPE:
 ['Heavy' 'Moderate' 'Light' nan]

WEEK NO:
 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54]

WEEK END:
 ['No' 'Yes']

In [46]:
df = df.fillna(np.nan)

In [47]:
df = df.fillna(0)